<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WWB NEWS</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse accusamus id aspernatur at quas officia numquam ducimus dolorem ullam provident doloremque recusandae tempora, ea modi dignissimos aut consequatur, eveniet totam?</p>
    
</body>
</html>