<section>
        <div class="uscontainer">
            <div class="usboxes">
                <div class="Historia">
                    <H1>HISTORIA</H1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae numquam architecto quia? A quas at sint eveniet dolores quos, aperiam consectetur odit doloribus, optio molestias error vitae, corporis nostrum sapiente?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vitae ipsa eos alias ducimus assumenda ullam. Cum atque non quaerat rem corrupti iste, voluptatum maxime perspiciatis asperiores rerum, culpa hic.</p>
                </div>

                <h2 class="staff">Staff</h2>

                <div class="boxs">
                    <img src="images/nosotros1.jpg" alt="manager">
                    <h2>Roberto Planta</h2>
                    <h3>Gerente Comercial</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sequi possimus ea neque debitis ex ab, sapiente qui. Laboriosam fuga doloremque autem dolorem vel ab nihil beatae aliquam praesentium magni!</p>

                </div>

                <div class="boxs">

                    <img src="images/nosotros2.jpg" alt="executive">
                    <h2>Tracy Chapman</h2>
                    <h3>Directora Ejecutiva</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa veritatis hic odio iusto, illo, provident nulla minima omnis aspernatur eius quo ad! Dolor tempore eligendi perspiciatis culpa, doloribus minima dolore.</p>
                </div>
                <div class="boxs">
                    <img src="images/nosotros3.jpg" alt="bobby">
                    <h2>Bobby Bob</h2>
                    <h3>Manager</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium obcaecati ex eveniet animi porro in incidunt nam! Eos molestiae minus laborum exercitationem quae porro ducimus id facere ratione. Molestiae!</p>
                </div>
                <div class="boxs">
                    <img src="images/nosotros4.jpg" alt="vip">
                    <h2>Sasha Emy</h2>
                    <h3>Vip People Manager</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quae nemo magnam accusantium itaque minima vero voluptas? Nemo molestias impedit error repellat eum ex ipsa accusamus ipsam, nobis exercitationem blanditiis.</p>
                </div>
                <div class="boxs">
                    <img src="images/nosotros5.jpg" alt="wolf">
                    <h2>Julio Lampone</h2>
                    <h3>Atención al Cliente</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum deleniti perferendis corrupti dolorum illo tempore iusto, dignissimos architecto sit quod culpa, ea fugit harum quis, expedita dolore voluptate rerum dicta.</p>


                </div>

            </div>

        </div>

        <hr>